# Applications port, default is 3000
PORT=
# Meta verify token, created by admins and setted on meta painel
META_WEBHOOK_VERIFY_TOKEN=
# Meta test token, valid by 24hours, after is necessary regenerate this token
META_WHATSAPP_ACCESS_TOKEN=
# Meta Phone number production (real)
META_WHATSAPP_PHONE_ID_PROD=
# Meta Phone number test (for tests)
META_WHATSAPP_PHONE_ID_TEST=
# API Sender whatsap message version (https://graph.facebook.com/:VERSION)
META_WHATSAPP_API_VERSION=

# Supabase config integration envs
SUPABASE_URL=
SUPABASE_KEY=